*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color: #010300;
    --second-bg-color: #5a7f78;
    --text-color: #f7f8fc;
    --main-color: #314c53;
    --second-color: #bbdec6;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.hidden {
    display: none;
  }

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px var(--second-color);
}


.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--second-color);
    border-bottom: 3px solid var(--second-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--second-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span{
    color:var(--second-color);
}

.box-framework{
    margin-top: 10px;
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow:  0 0 25px var(--second-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--second-color), 0 0 50px var(--second-color), 0 0 100px var(--second-color);
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--second-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--second-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--second-color);
    background-color: var(--second-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background:  var(--second-color);
    box-shadow:  0 0 25px var(--second-color);
    border-radius: 4rem;
    font-size: 1.6;
    color: var(--bg-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 50px var(--second-color);
}

.btn-group{
    display:flex;
    align-items:center ;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2):hover{
 box-shadow: 0 0 25px var(--second-color);   
 background-color: var(--second-color);
 color: var(--bg-color);
}


.text-animation-en {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation-en span {
    position: relative;
    display: inline-block; 
    color: var(--second-color);
}

.text-animation-en span::before {
    content: "Desenvolvedor";
    color: var(--second-color);
    animation: words 20s infinite;
}

.text-animation-en span::after {
    content: " ";
    background-color: var(--bg-color);
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: 0;
    top: 0;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

.text-animation-pt {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation-pt span {
    position: relative;
    display: inline-block; 
    color: var(--second-color);
}

.text-animation-pt span::before {
    content: "Desenvolvedor";
    color: var(--second-color);
    animation: words-pt 20s infinite;
}

.text-animation-pt span::after {
    content: " ";
    background-color: var(--bg-color);
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: 0;
    top: 0;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--second-color);
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0%;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 3px);
    }
}

@keyframes words {
    0%,
    20% {
        content: "Back-end Developer";
    }
    21%,
    40% {
        content: "Java Developer";
    }
    41%,
    60% {
        content: "Spring Developer";
    }
    61%,
    80% {
        content: "Mathematical";
    }
    81%,
    100% {
        content: "Master at League";
    }
}

@keyframes words-pt {
    0%,
    20% {
        content: "Desenvolvedor Back-end";
    }
    21%,
    40% {
        content: "Desenvolvedor Java";
    }
    41%,
    60% {
        content: "Desenvolvedor Spring";
    }
    61%,
    80% {
        content: "Matemático";
    }
    81%,
    100% {
        content: "Mestre no lol";
    }
}

.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.education{
    padding: 100px 15px;
    background: var(--bg-color);
}

.education h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1200px; 
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--second-color);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0px;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-bg-color),
                0 0 50px var(--second-bg-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--second-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--second-color);
    cursor: pointer;
    transition: 0.3 ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--second-color);
}

.timeline-content h3{
    font-size: 20px;
    color: var(--text-color);
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

.projects{
    background-color: var(--bg-color);
    color: black;
}

.projects h2{
    margin-bottom: 5rem;
    color: var(--text-color)
}

.projects-container{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-box{
    background-color: var(--second-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.project-box:hover{
    background: var(--second-color);
    color: var(--bg-color);
    border: 5px solid var(--second-color);
    transform: scale(1.03);
}

.project-box .project-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}

.project-info a{
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 24px; 
    color: var(--bg-color); 
  }

.project-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}

.project-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}

.project-info .btn-framework{
    display: inline-block;
    padding: 1rem 2.8rem;
    box-shadow:  0 0 25px var(--second-color);
    border-radius: 4rem;
    font-size: 1.6;
    color: var(--bg-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--text-color);
    background: var(--main-color);
}

.contact{
    background-color: var(--bg-color);
}

.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color : var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--second-color);
    margin: 1.5rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--second-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--second-color);
    border: 2px solid var(--second-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--second-color);
    color: #010300;
    box-shadow: 0 0 25px var(--second-color);
}

footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3 ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--second-color);
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}



@media(max-width:1285px){
    html{
        font-size: 55%;
    }    
    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .services{
        padding-bottom: 7rem;
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: #010300;
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--second-color);
        border-bottom: 2px solid var(--second-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .home{
        flex-direction:  column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
    .projects-container{
        grid-template-columns: repeat(1,1fr);
    }

}


.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    font-weight: 800;
  }

  .switch :hover{
    box-shadow: 0 0 25px var(--second-color);  
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color); /*fundo quando pt*/
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(33, 33, 33); /*bolinha */
    border: 3px var(--second-color);
    box-shadow: 0 0 5px var(--second-color);   
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:var(--bg-color);/*fundo quando en*/
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--second-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: var(--text-color);/*letra*/
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    box-shadow: 0 0 5px var(--second-color);
  }

  .slider.round:hover{
    box-shadow: 0 0 25px var(--second-color);
  }
  
  .slider.round:before {
    border-radius: 50%;}

    @media (min-width: 768px) { /* Ajuste a largura mínima conforme necessário */
        .switch {
            position: absolute;
            top: 10px; /* Adjust top position as needed */
            right: 10px; /* Adjust right position as needed */
            display: flex;
            align-items: center;
        }
    }
    