*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color: #010300;
    --second-bg-color: #5a7f78;
    --text-color: #f7f8fc;
    --main-color: #314c53;
}